---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}

import { Image } from "astro:assets";
import dometic from "@/assets/logos/dometic.svg";
import honda from "@/assets/logos/honda.svg";
import husqvarna from "@/assets/logos/husqvarna.svg";
import limge from "@/assets/logos/limge.svg";
import pramac from "@/assets/logos/pramac.svg";
import geda from "@/assets/logos/geda.svg";
import vitrifrigo from "@/assets/logos/vitrifrigo.svg";
import teleco from "@/assets/logos/teleco.svg";
import norton from "@/assets/logos/norton.svg";

import paus from "@/assets/logos/Paus.svg";
import gardena from "@/assets/logos/gardena.svg";
import ayerbe from "@/assets/logos/ayerbe.svg";
import epower from "@/assets/logos/epower.svg";
import linz from "@/assets/logos/linz.svg";
import mecalte from "@/assets/logos/mecalte.svg";
import telair from "@/assets/logos/telair.svg";

---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 pt-4 sm:px-6 lg:px-8 lg:py-16 lg:pt-8 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-10 w-full space-y-1 text-center sm:w-1/2 lg:w-1/2">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      <Fragment set:html={title} />
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>

  <div class="mx-auto">
    <!-- Mobile logos  -->
    <div class="md:hidden grid grid-cols-2 gap-6 mb-6">
      <div class="flex items-center justify-center ">
        <Image src={dometic} alt="dometic logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={honda} alt="honda logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={pramac} alt="pramac logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={husqvarna} alt="husqvarna logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={limge} alt="limge logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={geda} alt="geda logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={vitrifrigo} alt="vitifrigo logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={teleco} alt="teleco logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={norton} alt="norotn logo" class="max-w-40" />
      </div>

      <div class="flex items-center justify-center ">
        <Image src={paus} alt="paus logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={gardena} alt="gerdena logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={ayerbe} alt="logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={epower} alt="epower logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={linz} alt="linz logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center">
        <Image src={mecalte} alt="mecalte logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center">
        <Image src={telair} alt="telair logo" class="max-w-30 sm:max-w-40" />
      </div>

    </div>
  </div>
  
  
    <!-- Desktop logos -->
  <div class="hidden md:block mx-auto max-w-[80rem]" >
    <!-- logos row 1 -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 mb-6">
      <div class="flex items-center justify-center ">
        <Image src={dometic} alt="dometic logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={honda} alt="honda logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={pramac} alt="pramac logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={husqvarna} alt="husqvarna logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={limge} alt="limge logo" class="max-w-40" />
      </div>
    </div>

    <!-- logos row 2 -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-6">
      <div class="flex items-center justify-center ">
        <Image src={geda} alt="geda logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={vitrifrigo} alt="vitifrigo logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={teleco} alt="teleco logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={norton} alt="norotn logo" class="max-w-40" />
      </div>
    </div>

    <!-- logos row 3 -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 mb-6">
      <div class="flex items-center justify-center ">
        <Image src={paus} alt="paus logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={gardena} alt="gerdena logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={ayerbe} alt="logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={epower} alt="epower logo" class="max-w-40" />
      </div>
      <div class="flex items-center justify-center ">
        <Image src={linz} alt="linz logo" class="max-w-40" />
      </div>
    </div>

    <!-- logos row 4 -->
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-6">
          <div></div>
          <div class="flex items-center justify-center ">
            <Image src={mecalte} alt="mecalte logo" class="max-w-40" />
          </div>
          <div class="flex items-center justify-center ">
            <Image src={telair} alt="telair logo" class="max-w-40" />
          </div>
          <div></div>
      </div>
  </div>
</section>
